body{
          background-color: rgb(0, 0, 0);
}

#container1{
       position: absolute;
       left: 0;
       top: 0;
       width: 100%;
       min-height: 100%;
       display: flex;
       justify-content: start;
       place-items: center;
       color: rgb(255, 255, 255);
}

#transform-div1{
   position: relative;
   width: 200px;
   height: 200px;
   background-color: goldenrod;
   border: 1px solid white;
   transform: translateX(30px);
}

#transform-div2{
   position: relative;
   width: 200px;
   height: 200px;
   background-color: rgb(218, 41, 32);
   border: 1px solid white;
   transform: translateY(100px);
}

#transform-div3{
          position: relative;
          width: 200px;
          height: 200px;
          background-color: rgb(135, 178, 19);
          border: 1px solid white;
          transform: translateZ(25px);
}

#transform-div4{
          position: relative;
          width: 200px;
          height: 200px;
          background-color: rgb(167, 35, 79);
          border: 1px solid white;
          transform: translate3d(25px,50px,100px);
}

#transform-div5{
          position: relative;
          width: 200px;
          height: 200px;
          background-color: rgb(236, 138, 221);
          border: 1px solid white;
          transform:rotate(45deg);
}

#transform-div6{
          position: relative;
          width: 200px;
          height: 200px;
          background-color: rgb(112, 14, 223);
          border: 1px solid white;
          transform:rotateX(25deg);
}

#transform-div7{
          position: relative;
          width: 200px;
          height: 200px;
          background-color: rgb(5, 122, 248);
          border: 1px solid rgb(0, 0, 0);
          transform:scale(0.6);
}

#transform-div8{
          position: relative;
          width: 200px;
          height: 200px;
          background-color: rgb(5, 232, 248);
          border: 1px solid rgb(0, 0, 0);
          transform:scaleX(1.5);
}

#transform-div9{
          position: relative;
          width: 200px;
          height: 200px;
          background-color: rgb(11, 128, 25);
          border: 1px solid rgb(0, 0, 0);
          transform:scaleY(1.5);
}

#transform-div10{
          position: relative;
          width: 200px;
          height: 200px;
          background-color: rgb(225, 245, 6);
          border: 1px solid rgb(255, 255, 255);
          transform:skew(20deg);
          color: black;
}

#transform-div11{
          position: relative;
          width: 200px;
          height: 200px;
          background-color: rgb(245, 165, 6);
          border: 1px solid rgb(255, 255, 255);
          transform:skewX(-20deg);
}

#transform-div12{
          position: relative;
          width: 200px;
          height: 200px;
          background-color: rgb(255, 77, 0);
          border: 1px solid rgb(255, 255, 255);
          transform:skewY(40deg);
}

#transform-div13{
          position: relative;
          width: 200px;
          height: 200px;
          background-color: rgb(255, 4, 0);
          border: 1px solid rgb(174, 217, 231);
          transform:matrix(1, -0.3, 0, 1 , 0, 0);
          color: black;
}