body{
          background-color: #047edb;
}

div{
          background-color: #f55f96;
}

h1{
          color: aliceblue;
}

h2{
          color: burlywood;
}

h3{
          color: yellow;
}

h4{
          color: darkblue;
}

h5{
          color: darkgreen;
}

h6{
          color: silver;
}